# Ignore everything
node_modules
.env
package-lock.json
build
.claude
.DS_Store
# Allow these
!.gitignore
!index.html
!chapters/
!chapters/*/
!chapters/*/*.html
!chapters/*/*.css
!chapters/*/slides/
!chapters/*/slides/*.html
!chapters/*/slides/*.css
